USE [Hospital_Project]
GO
/****** Object:  Table [dbo].[Tbl_Appointments]    Script Date: 29.07.2025 09:08:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Appointments](
	[AppointmentId] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentDate] [date] NULL,
	[AppointmentTime] [time](0) NULL,
	[AppointmentDepartment] [nvarchar](30) NULL,
	[AppointmentDoctor] [nvarchar](50) NULL,
	[AppointmentStatus] [bit] NOT NULL,
	[PatientId] [int] NULL,
	[PatientSymptoms] [nvarchar](250) NULL,
 CONSTRAINT [PK_Tbl_Appointments] PRIMARY KEY CLUSTERED 
(
	[AppointmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Doctors]    Script Date: 29.07.2025 09:08:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Doctors](
	[DoctorId] [int] IDENTITY(1,1) NOT NULL,
	[DoctorFirstName] [nvarchar](50) NULL,
	[DoctorLastName] [nvarchar](50) NULL,
	[DoctorSpecialization] [nvarchar](100) NULL,
	[DoctorEmail] [varchar](100) NULL,
	[DoctorPassword] [varchar](100) NULL,
 CONSTRAINT [PK_Tbl_Doctors] PRIMARY KEY CLUSTERED 
(
	[DoctorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Notifications]    Script Date: 29.07.2025 09:08:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Notifications](
	[NotificationId] [int] IDENTITY(1,1) NOT NULL,
	[Notification] [nvarchar](200) NULL,
 CONSTRAINT [PK_Tbl_Notifications] PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Patients]    Script Date: 29.07.2025 09:08:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Patients](
	[PatientId] [int] IDENTITY(1,1) NOT NULL,
	[PatientFirstName] [nvarchar](50) NULL,
	[PatientLastName] [nvarchar](50) NULL,
	[PatientInsuranceNumber] [varchar](15) NULL,
	[PatientPhoneNumber] [varchar](20) NULL,
	[PatientEmail] [varchar](100) NULL,
	[PatientPassword] [varchar](100) NULL,
	[PatientGender] [varchar](50) NULL,
 CONSTRAINT [PK_Tbl_Patients] PRIMARY KEY CLUSTERED 
(
	[PatientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Specializations]    Script Date: 29.07.2025 09:08:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Specializations](
	[SpecializationId] [int] IDENTITY(1,1) NOT NULL,
	[SpecializationName] [nvarchar](100) NULL,
 CONSTRAINT [PK_Tbl_Specializations] PRIMARY KEY CLUSTERED 
(
	[SpecializationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Staff]    Script Date: 29.07.2025 09:08:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Staff](
	[StaffId] [int] IDENTITY(1,1) NOT NULL,
	[StaffFullName] [nvarchar](100) NULL,
	[StaffEmail] [varchar](100) NULL,
	[StaffPassword] [varchar](100) NULL,
 CONSTRAINT [PK_Tbl_Staff] PRIMARY KEY CLUSTERED 
(
	[StaffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
